version: 2.1

workflows:
  version: 2
  build:
    jobs:
      - tests

jobs:
  tests:
    docker:
      - image: leonchyril/react-for-tests
        auth:
          username: leonchyril
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: install-dependencies
          command: npm install
      - run:
          name: tests
          command: npm test
